# Python
__pycache__/
#*.py[cod]
*.so
*.egg
*.egg-info/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.venv/
env/
.env/

# Jupyter / IPython
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDE / OS
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

.ruff_cache
